* {
  transition:250ms;
  font-family: 'Ubuntu';
}

@font-face {
  font-family: 'Railway';
  src:  url('./fonts/Railway.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin:0;
  padding:0;
  height:100vh;
  box-sizing: border-box;
}

.logo {
  max-height: 40px;
  margin-right:10px;
}

nav {
  background:#478f7e;
  margin:auto;
  width:100vw;
  height:60px;
  padding:5px;
  box-shadow:#3d665c 0px 8px , 0px 10px 5px 4px rgba(0,0,0,0.2);
  box-sizing: border-box;
  border-radius:0px 0px 12px 12px;
  position: relative;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button {
 margin:5px; 
 color:white;
 padding:10px;
 text-align:center;
 font-size:1.2em;
 font-weight:bold;
 border-radius:12px;
 box-sizing: border-box;
 user-select:none;
 -webkit-user-select: none;
 cursor:pointer;
 width:auto;
 outline: 1px solid rgba(0,0,0,0);
}

.nav-button:hover {
  background:#64a697;
  transform: translate(0px,-5px);
  box-shadow: 0px 5px 0px 0px #3d665c,0px 10px 2px 0px rgba(0,0,0,0.1);
  outline: 1px solid rgba(0,0,0,0.1);
}

.nav-button:active {
  background:#3d665c;
  outline: 1px solid rgba(0,0,0,0.1);
  transform: translate(0px,0px);
  box-shadow: 0px 0px 0px 0px #3d665c;
}

.nav-button:first-child {
  /*margin-right:12px;*/
  content:"|"
}

.active-page {
  background:#85c7b6;
  color:black;
  border-radius:12px;
}

.active-page:hover {
 background: #a3d9cb;
}

.content {
  display:grid;
  grid-gap:0px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr max-content;
  margin:auto;
  max-width: 1400px;
  padding-top:10px;
}
.customer-form {
  grid-column: 1 / 2;
}
.company-contacts {
  padding:20px;
  overflow:auto;
  width:fill;
  height: calc(100vh - 70px);
  box-sizing: border-box;
  grid-column: 2 / 2;
}

.pod {
  background-color: #ffffff;
  outline: 1px solid rgba(0,0,0, 0.1);
  padding: 30px;
  border-radius:12px;
  box-shadow: 0px 5px 0px 0px #deddda, rgba(0,0,0,0.1) 0px 8px 8px 1px;
  margin:30px;
}



.profile-pic {
  max-width: 80px;
  max-height: 80px;
  float: right;
  border-radius: 50%;
}

.bg1 {
 background-image: url('./img/bg-img_1.jpg');
}

input {
  padding: 5px;
  font-size: 1em;
  border-radius: 500px;
}





@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color:white;
  }

}
