* {
    margin: 0;
    transition:250ms;
    font-family: sans-serif;
}

/* Navigation Section */
.logo {
    max-height: 40px;
    margin-left: 17.5vh;
}

nav {
    background: #478f7e;
    margin: auto;
    width: 99vw;
    height: 60px;
    padding: 5px;
    box-shadow: #3d665c 0px 8px, 0px 10px 5px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 0px 0px 12px 12px;
    position: relative;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    margin-right: 17.5vh;
}

.nav-button {
    margin: 5px;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 12px;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    width: auto;
    outline: 1px solid rgba(0, 0, 0, 0.0);
    text-decoration: none;
}

.nav-button:hover {
    background: #64a697;
    transform: translate(0px, -5px);
    box-shadow: 0px 5px 0px 0px #3d665c, 0px 10px 2px 0px rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-button:active {
    background: #468072;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    transform: translate(0px, 0px);
    box-shadow: inset 0px 5px 0px 0px #3d665c, inset 0px 10px 2px 0px rgba(0, 0, 0, 0.1);
    padding-bottom:2px;
    padding-top:10px;
    color: lightgrey;
    transition: 250ms;
}

.nav-button:first-child {
    content: "|"
}

.active-page {
    background: #85c7b6;
    color: black;
    border-radius: 12px;
}

.active-page:hover {
    background: #a3d9cb;
}

.active-page:active {
    background: transparent;
    box-shadow: inset 0px 5px 0px 0px #3c6e62, inset 0px 10px 2px 0px rgba(0, 0, 0, 0.1);
    transition: 250ms;
}

/* Body */
body {
    background-color: #2D4F47;
    height: 100%;
}

.virt-wrapper {
    width: 80%;
    margin-left: 10%;
    height: 100%;
}

h1 {
    background-color: #85c7b6;
    color: white;
    padding: 30px;
    margin: 30px 0px 25px 0;
    border-radius: 40px;
    text-align: center;
}

.virtual-videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #85c7b6;
}
.video-container{
    position: relative;
    width: 100%;
}
.video-container img:hover{
    background: #64a697;
    transform: translate(0px, -5px);
    box-shadow: 0px 7px 0px 0px #3d665c, 0px 10px 2px 0px rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(0, 0, 0, 0.1);
}

.video-desc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(228, 228, 228, 0.7);
    color: #000;
    padding: 20px 30px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #478f7e;
    padding: 20px;
    width: 98%;
    display: flex;
}

#return {
    margin: auto 0;
    font-size: 20px;
}

footer p {
    margin: auto;
}

footer a {
    text-decoration: none;
    width: 25%;
    color: black;
}

footer a:hover {
    color: white;
}

.social-links {
    margin-left: auto;
}